@import "tailwindcss/preflight";
@import "tailwindcss";
@tailwind utilities;


@font-face {
    font-family: 'Montserrat-B';
    src: url('../app/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-M';
    src: url('../app/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* CONTAINER */

.header__container {
    max-width: 1200px;
    padding-top: 30px;
    margin: 0 auto;
}

.main-container {
    max-width: 1270px;
    margin: 0 auto; 
}

.container-table {
    width: 100%;
    /* justify-content: space-between; */
    gap: 2px;
}

.container-table-id {
    width: 100%;
}

.container-data {
    /* gap: 42px; */
}

.color-text-button {
    color: #424242;
    font-family: 'Montserrat-M';
    padding: 0 7px 0 0;
}

/* PADDING */

.pad-t {
    padding-top: 50px;
}

.pad-r {
    padding-right: 23px;
}

.pad-id {
    /* padding-right: 54px; */
    min-width: 76px;
}

.padpad {
    /* padding-right: 68px; */
    border-right: 2px solid;
    min-width: 77px;
}

/* MODAL-pad */

.modal-pad {
    padding: 50px 30px 50px 30px;
}

.mar-t {
    margin-top: 20px;
}

.size-xl {
    font-size: 24px;
}

/* BORDERS */

.border-t {
    border-top: 1px solid;
}

.border-r {
    border-right: 1px solid;
}

.border-r-w-1 {
    border-right: 2px solid;
    min-width: 74px;
}

.border-r-w-2 {
    border-right: 2px solid;
    min-width: 82px;
    font-size: 14px;
}

.border-r-w-3 {
    border-right: 2px solid;
    min-width: 79px;
    font-size: 15px;
}

.border-r-w-4 {
    border-right: 2px solid;
    min-width: 70px;
    font-size: 16px;
}

.border-r-w-5 {
    border-right: 2px solid;
    min-width: 80px;
    font-size: 16px;
}

.border-r-w-6 {
    border-right: 2px solid;
    min-width: 87px;
    font-size: 16px;
}

.border-b {
    border-bottom: 1px solid;
}

.border-l {
    border-left: 1px solid;
}

.border {
    border: 1px solid;
}

/* FONT-SIZE */

.font-14 {
    font-size: 14px;
}